body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hand {
  animation-name: hand-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s; /* Change to speed up or slow down */
  transform-origin: 80% 80%; /* Pivot around the bottom-left palm */
  animation-iteration-count: infinite; /* Never stop waving :) */
  display: inline-block;
}

@keyframes hand-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(50deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(50deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}


.Typewriter {
  font-size: 1.5rem;
  font-weight: 600;
}
